@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
  }
}

@layer components {
  .hero {
  }
}

@layer utilities {
  .padding {
    @apply px-4 py-4 md:px-2 2xl:px-0
  }
  .btn-save {
    @apply rounded-md bg-Primary px-16 py-3 text-center text-xl font-bold capitalize tracking-wide shadow-lg;
  }
  .btn-delete {
    @apply rounded-md bg-Primary-red px-8 py-2 text-center text-lg font-bold capitalize tracking-wide text-white shadow-lg;
  }
  .text {
    @apply text-lg font-medium tracking-wider text-text;
  }
  .head {
    @apply text-head font-bold tracking-wider
  }
  .logo {
    @apply h-10 w-10;
  }
  .logo-name {
    @apply text-2xl font-bold tracking-wider;
  }
  .add-button {
    @apply rounded-full m-2 bg-Primary absolute text-3xl font-bold text-bg h-10 w-10 justify-center 
  }
}
